{% extends 'rango/base.html' %}
{% load staticfiles %}
{% block title %}{{ category_name }}{% endblock %}

{% block body_block %}
    <h1>{{ category_name }}</h1>
    <a href="{% url 'rango:add_page' category_slug %}">Add Page</a>
    {% if category %}
        {% if pages %}
            <ul>
                {% for page in pages %}
                    <li><a href="{{ page.url }}">{{ page.title }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            <strong>No pages currently in category</strong>
        {% endif %}
    {% else %}
        <strong>The specified category does not exist</strong>
    {% endif %}
{% endblock %}