<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Rango</title>
</head>
<body>
    <h1>Register with Rango</h1>

    {% if registered %}
        <p>Rango says: <strong>thank You for registering!</strong></p>
        <a href="/rango/">Return to homepage</a>
    {% else %}
        <p>Rango says: <strong>register here!</strong></p>
        <form id="user_form" method="post" action="{% url 'rango:register' %}" enctype="multipart/form-data">
            {% csrf_token %}
            {{ user_form.as_p }}
            {{ profile_form.as_p }}

            <input type="submit" name="submit" value="Register">
        </form>
    {% endif %}
</body>
</html>